.DS_Store
notes
__pycache__/
*/__pycache_/
ldraw/
notes.md

# Python
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
venv/
ENV/

# Arduino
*.hex
*.elf
*.bin
.ino.cpp
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json
.platformio/
.vscode/

*.swp
*.swo
*~

example
examples
prompts
notes
logs

*camera_test*
test.py
test*.py

testing/*

database.db
weights
.blob
.tmp
profiles
