.DS_Store
notes
part_photos/
segmentation/PennFudanPed/
__pycache__/
*/__pycache_/
segmentation/__pycache__/
segmentation/test/
segmentation/part_photos/
segmentation/old_part_photos/
segmentation/PennFudanPed/
segmentation/data/
ldraw/
classification/data/
classification/monkey/
classification/only_render_pieces
classification/transfer_learning_tutorial_stuff_not_deleted.py
classification/transfer_learning_tutorial.py
classifcation/trained_model*
segmentation/trained_model6.pth
bfg-1.14.0.jar
